
@keyframes vanishIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(90px);
  }

  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }

}
.scrollLine{
	height: 3px;
	border-top: 2px solid rgba(255,255,255,0.7);
	
	top:8.5%;
	z-index:2;
}
.btnPause{
  background-color: rgba(0,0,0,0.2);
}
.btnPause:active:after{
  background-color: rgba(255,255,255,0.5);
}
.btnPause:focus:after{
  background-color: rgba(255,255,255,0.2);
}
.btnPause:focus i{
  color: #fff;
}

.btnPlay{
  background-color: rgba(0,0,0,0.2);
}
.btnPlay:active:after{
  background-color: rgba(255,255,255,0.5);
}
.btnPlay:focus:after{
  background-color: rgba(255,255,255,0.2);
}
.btnPlay:focus i{
  color: #fff;
}

.skinHeader-withBackground {
    background-color: #191919 !important;
}

.headerLogo {
    /*background-image: url(images/logowhite.png);*/
}

.emby-button:focus:not(.btnUserViewHeader):not(.emby-tab-button) {
    background: #fff;
    color: #808080 !important;
}
 


.card:focus>.cardBox-focustransform {
    -webkit-transform: scale(1.02,1.02) !important;
    transform: scale(1.02,1.02) !important;
	 background-color: rgba(255,255,255,0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    transformations-property: none !important;
}
.card:focus:not(.card-round) .card-focuscontent {
    border-color: rgba(0,0,0,0);
   
	
}

.card:after:not(.card-round) .card-focuscontent{
  content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 99%;
    background-color: rgba(255,255,255,0.4);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.card[data-cardtype='embyconnect'] .cardImageContainer {
    background-color: rgba(0,0,0,0) !important;
}

.userViewNames button {
    color: #fff;
}

.userViewButtonText {
	padding-bottom: 14px;
        border-bottom: 2px solid transparent;
}

.userViewNames{
	padding-left: 3.75%;
	position:absolute !important;
	top:3.1%;
	opacity: 0 !important;
	animation: fadein 1.5s 2s forwards !important; 
	z-index:2 !important;
	border-bottom-color: 5px solid white !important;
}

.userViewNames button.selected {
    color: inherit;
  
}

.albumsCard .cardImageContainer, .recordingsCard .cardImageContainer {
    background: #38c !important;
}

.allGenericCard .cardImageContainer, .artistsCard .cardImageContainer {
    background: #4CAF50 !important;
}

.genresCard .cardImageContainer, .channelsLiveTvCard .cardImageContainer {
    background: #F44336 !important;
}

.movieCollectionsCard .cardImageContainer {
    background-color: #000;
    background-image: url(images/background.jpg) !important;
    width:100%;
    height:100%;
    padding-top: 5%;
    padding-bottom: 5%;
   
    animation: vanishIn 3s 1.5s forwards;
}

.movieCollectionsCard .cardImageContainer i{
    display: none !important;
}

.movieGenresCard .cardImageContainer {
    background-color: #009688 !important;
}

.tvUpcomingCard .cardImageContainer {
    background-color: #009688 !important;
}

.userViewNames button:focus {
    color: #fff !important;
}

    .userViewNames button:focus .userViewButtonText {
        border-bottom-color: white;
    }
