
@keyframes vanishIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(90px);
  }

  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }

}


.skinHeader-withBackground {
    background-color: #191919 !important;
}

.headerLogo {
    background-image: url(images/logowhite.png);
}

.emby-button:focus:not(.btnUserViewHeader):not(.emby-tab-button) {
    background: #52B54B;
    color: #fff !important;
}

.card:focus:not(.card-round) .card-focuscontent {
    border-color: #fff;
   
}

.card:focus:not(.card-round) .card-focuscontent:focus:after{
  background-color: rgba(255,255,255,0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.card:focus:not(.card-round) .card-focuscontent:after{
  content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 99%;
    background-color: rgba(255,255,255,0.4);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.card[data-cardtype='embyconnect'] .cardImageContainer {
    background-color: #52B54B!important;
}

.userViewNames button {
    color: #666;
}

.userViewButtonText {
    border-bottom: 2px solid transparent;
}

.userViewNames button.selected {
    color: inherit;
}

.albumsCard .cardImageContainer, .recordingsCard .cardImageContainer {
    background: #38c !important;
}

.allGenericCard .cardImageContainer, .artistsCard .cardImageContainer {
    background: #4CAF50 !important;
}

.genresCard .cardImageContainer, .channelsLiveTvCard .cardImageContainer {
    background: #F44336 !important;
}

.movieCollectionsCard .cardImageContainer {
    background-color: #009688 !important;
    animation: vanishIn 3s 1.5s forwards;
}

.movieGenresCard .cardImageContainer {
    background-color: #009688 !important;
}

.tvUpcomingCard .cardImageContainer {
    background-color: #009688 !important;
}

.userViewNames button:focus {
    color: #52B54B !important;
}

    .userViewNames button:focus .userViewButtonText {
        border-bottom-color: #52B54B;
    }
