@keyframes float {
	0% {
	   -webkit-filter: drop-shadow(15px 15px 5px rgba(0,0,0,0.2));
        filter: drop-shadow(15px 15px 5px rgba(0,0,0,0.8));
		transform: translatey(0px);
	}
	50% {
	-webkit-filter: drop-shadow(5px 15px 0px rgba(0,0,0,0.8));
        filter: drop-shadow(5px 15px 0px rgba(0,0,0,0.8));
		
		transform: translatey(-7px);
	}
	100% {
	-webkit-filter: drop-shadow(15px 15px 5px rgba(0,0,0,0.2));
        filter: drop-shadow(15px 15px 5px rgba(0,0,0,0.2));
		
		transform: translatey(0px);
	}
}




@keyframes vanishIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(90px);
  }

  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }

}

@keyframes vanishOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }

  100% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(20px);
  }
}

@keyframes fadein {
    from {  visibility:visible; opacity: 0;}
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.showSplash{
  display:fixed;
  width:100%;
  height:100%;
  background-color:#fff;
  z-index:2147483647;
}

.pusher{
  height:100vh;
}
.resumeSection{
 position:absolute;
  z-index:10;
  }


.userViewButtonText {
    font-weight: normal;
}

.userViewNames h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 320;
}

.userViewNames .btnUserViewHeader {
    min-width: initial;
    text-transform: none !important;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: .3em;
}


 .homePageContainer .selectedItemInfo {
    /*right: 2%;
     bottom: 2.5%;   
     opacity: 0 !important;
- animation: vanishIn 4s 1s forwards;*/
display:none !important;

}


.homePageContent .squareCard:not(.scalableCard) .cardImageContainer {
    width: 8.66em;
    height: 8.66em;
}

.homePageContent .backdropCard .cardImageContainer {
    width: 15.395555555555555555555555555556em;
    height: 8.66em;
}

.homePageContent .portraitCard .cardImageContainer {
    width: 14.45em;
    height: 21.85em;
}

.recommendations .portraitCard .cardImageContainer{
    width: 10.8em;
    height: 15.2em;
}

.wideSpotlightCard {
    width: 100%;
}

/*
.wideSpotlightCard:before{

   content: '';
	
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: +1;
	z-index:2;
        background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(0,0,0,0) 39%, rgba(0,0,0,0.43) 91%, rgba(0,0,0,0.9) 100%); 
        background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0) 39%,rgba(0,0,0,0.43) 91%,rgba(0,0,0,0.9) 100%); 
         background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0) 39%,rgba(0,0,0,0.43) 91%,rgba(0,0,0,0.9) 100%); 
}
*/

    .wideSpotlightCard .cardImageContainer {
        height: 21.85em;
      width: 46.5em;
    }

.wideSpotlightCard .innerCardFooter {
background: rgba(0,0,0,0) !important;
	left: 3%;
	padding-bottom:1%;
	font-weight:light;
	color: rgba(255,255,255,1);
	font-size:210%;
}

    .wideSpotlightCard.card-focusscale:focus > .cardBox {
        transform: scale(1.02, 1.02);
    }

.homePageContainer .cardBox {
    margin: 4px !important;
}
