@keyframes vanishIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(90px);
  }

  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }

}

@keyframes vanishOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }

  100% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(20px);
  }
}

@keyframes fadein {
    from {  visibility:visible; opacity: 0;}
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.userViewNames {
    padding-left: 3.75%;
}

.userViewButtonText {
    font-weight: normal;
}

.userViewNames h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
}

.userViewNames .btnUserViewHeader {
    min-width: initial;
    text-transform: none !important;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: .2em;
}

.homePageContainer .selectedItemInfo {
    right: 2%;
    bottom: 2.5%;
    opacity: 0 !important;
 animation: vanishIn 4s 1s forwards;
}

.homePageContainer .selectedItemInfo {
    
    opacity: 0 !important;
 animation: fadein 4s 1s forwards;
}

.homePageContent .squareCard:not(.scalableCard) .cardImageContainer {
    width: 8.66em;
    height: 8.66em;
}

.homePageContent .backdropCard .cardImageContainer {
    width: 15.395555555555555555555555555556em;
    height: 8.66em;
}

.homePageContent .portraitCard .cardImageContainer {
    width: 11.8em;
    height: 17.85em;
}

.wideSpotlightCard {
    width: 100%;
}

    .wideSpotlightCard .cardImageContainer {
        height: 17.85em;
      width: 51em;
    }

    .wideSpotlightCard.card-focusscale:focus > .cardBox {
        transform: scale(1.02, 1.02);
    }

.homePageContainer .cardBox {
    margin: 4px !important;
}
